<html>
	<head>
		<link rel="stylesheet" href="style/jammin.css" />
		<script type="text/javascript" src="http://connect.soundcloud.com/sdk.js"></script>
		<script type="text/javascript" src="https://w.soundcloud.com/player/api.js"></script>
		<script type="text/javascript">
			var LINKTAPE_INIT_PLAYLIST = <%= init_playlist %>;
		</script>
		<script type="text/javascript" src="js/lib/jsuri.js"></script>
		<script data-main="js/app" src="js/lib/require.js"></script>

		<title><%= title %></title>
	</head>
	<body>
		<div id='jamz'></div>
	</body>
</html>