body {
	font-family: tahoma;
	font-weight: bold;
}

.song-title {
	font-size: 24px;
}

.pButton {
	font-weight: bold;
	font-size: 60px;
}

.song-wrapper {
	/*width: 600px;*/
	/*width:0px;*/
	background-color:transparent;
}

.song-wrapper > iframe {
	overflow: auto;
	z-index:99999;
}

.control {
	width:600px;
}

.yt-control {
	height:200px;
}

.sc-control {
	height: 166px;
}

.mp3-wrap {
	background: #FFFFFF;
}

.sc-art {
	/*background-size: 15%;*/
	background-position: center;
	background-attachment:fixed;
}

.add-song {
	width:500px;
	height:150px;
	border:1px solid black;
	z-index:9999;
}

.add-song-bg {
	width:100%;
	height:100%;
	background:#FFFFFF;
	z-index:-2;
	position:relative;
	top:0;
}

.add-song-text {
	width:100%;
	height:24px;
	margin:0 auto;
	text-align:center;
	position:relative;
	top:63px;
	font-size: 24px;
	z-index:-1;
}

.add-song-subtext {
	width:100%;
	margin:0 auto;
	text-align:center;
	position:relative;
	top:65px;
	font-size: 10px;
	z-index:-1;
}

.add-song-input {
	margin:0 auto;
	position:relative;
	top:10;
	height:24px;
	line-height:24px;
	width:200px;
}

.add-song-input-wrap {
	width:100%;
	height:0;
	text-align:center;
}

#playlist {
	background:#FFFFFF;
	width:600px;
}

.jammin-logo {
	height:100%;
	width:100%;
	position:fixed;
	top:0px;
	left:0px;
	z-index:-9999;
}

.jammin-window {
	height:100%;
	width:100%;
	position:fixed;
	top:0px;
	left:0px;
	z-index:-9998;
}

.jammin-window-text {
	width:100%;
	height:72px;
	margin: 0 auto;
	text-align: center;
	position:fixed;
	top:50%;
	font-size: 72px;
}

.controls-wrap {
	width:100%;
	position:fixed;
	bottom:0px;
}

.pl-controls-wrap {
	width:100%;
	position:fixed;
	top:0px;
}

.controls {
	margin:0 auto;
	width:358px;
	height:35px;
	line-height:35px;
	background-color:#FFFFFF;
	border:1px solid black;
}

.pl-controls {
	margin:0 auto;
	width:308px;
	line-height:35px;
	height:35px;
	background-color:#FFFFFF;
	border:0px;
	border-style: solid;
	border-color: #000000;
}

.control-button {
	width: 50px;
	cursor: hand;
	display: inline-block;
	border:1px solid black;
	margin:0;
	padding:0;
	text-align: center;
	font-weight:900;
	vertical-align: top;
}

.control-input {
	width: 100px;
	font-size: 18px;
	border: 1px solid black;
	vertical-align: middle;
}

.control-prog {
	width: 200px;
	border:1px solid black;
}

.ui-progressbar-value {
	background-color:#666666;
	line-height: 33px;
	height:33px;
	z-index: -1;
}

.control-prog-wrap {
	width: 200px;
	display: inline-block;
}

.yt-wrap {
	background-color:#FFFFFF;
	background-image:url('http://www.youtube.com/yt/brand/media/image/yt-brand-standard-logo-630px.png');
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center;
	width:200px;
	height:200px;
	display:block;
	cursor:hand;
	border:1px solid black;
}

::-webkit-input-placeholder {
   text-align:center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align:center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align:center;  
}

:-ms-input-placeholder {  
   text-align:center; 
}